html{
    background-color: #191c23 ;
}

/*Navegacion*/

nav{
    background-color: #191c23 ;
    color: white;
    font-size: 20px;
    text-align: right;
        li{
            display: inline-block;
            margin: 10px;
        }
        a{
            text-decoration: none;
            color: white;
        }
}

/*presentacion*/

.container-presentacion{
    background-color: #191c23;
    color: white;
    padding: 10px 2px;
    .presentacion-text{
        text-align: center;
            h1{
                font-size: 60px;
            }
            h2{
                font-size: 25px;
            }
            p{
                margin: 10px 300px;
                font: 15px;
            }
    }
    img{
        display: block;
        margin: 30px auto;
        border-radius: 50%;
        width: 200px;
    }
}

/*Sobre Mi*/

.sobremi{
    width: 100%;
    .container-sobremi{
        background-color: #191c23 ;
        color: white;
        text-align: justify;
        margin: 0px 8px 50px;
            h1{
                font-size: 40px;
                text-align: center;
            }
            h2{
                font-size: 25px;
                color: grey;
                text-align: center;
            }
            p{
                font-size: 20px;
                color: lightgrey;
                margin: 0px 200px;
            }
    }

    .tarjeteroinfo{
        display: flex;
        justify-content: center;
        gap: 20px;
        .tarjeta{
            background-color: #5d54d7;
            box-shadow:#5d54d7 0px 0px 10px;
            text-align: center;
            padding: 2px;
            border-radius: 10px;
            width: 200px;
            h2{
                font-size: 40px;
                color: #ffc900;
                text-shadow: #ffc900 0px 0px 5px;
            }
            p{
                font-size: 20px;
                color: white;
                text-shadow: white 0px 0px 5px;
            }
        }  
    }
    }

/*Habilidades*/

.container-habilidades{
    text-align: center;
    color: white;
    .tarjeterohabilidades{
        justify-content: center;
        gap: 20px;
            h1{text-align: center;
                font-size: 40px;
            }
            .trestarjetas{
                display: flex;
                justify-content: center;
                gap: 20px;
            }
            .dostarjetas{
                display: flex;
                justify-content: center;
                gap: 20px;
                margin-top: 20px;
            }
            .tarjeta{
                background-color: #9c48b5;
                box-shadow: #9c48b5 0px 0px 10px;
                width: 200px;
                height: 200px;
                border-radius: 20px;
                    figure{
                        text-align: center;
                        margin: 50px;
                        img{
                            width: 100px;
                            height: 100px;  
                        }
                    }
            }
        }
}